<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      &#127869 Formal List
    </h2>
  </div>

  <table>
    <tr>
      <th class="col-md-1">Level</th>
      <th class="col-md-4">Scroll Name</th>
      <th class="col-md-4">Component</th>
      <th class="col-md-2">Price</th>
      <th class="col-md-1">Shotted?</th>
    </tr>
    {{#each scrolls as |scroll|}}
    <tr>
      <td class="col-md-1">{{scroll.level}}</td>
      <td class="col-md-4">{{scroll.scroll_name}}</td>
      <td class="col-md-4">{{scroll.component}}</td>
      <td class="col-md-2">{{scroll.base_cost}} {{scroll.base_coin}}</td>
      <td class="col-md-1">{{#if scroll.shot_status}} Yes {{else}} No {{/if}}</td>
    </tr>
    {{/each}}
      
  </table>












