<div class="dish-card">
  <div class="dish-card-header">
    {{scroll_name}} |  {{school}}    Level: {{level}}
  </div>
  <div class="card-body">
    <p>
      Base Cost:
      {{base_cost}} {{base_coin}}
    </p>
    <p>
        Component:
        {{component}}
    </p>
    {{#if shot_status}}
      <p class="has-nuts">
        Can Be Shotted
      </p>
    {{/if}}
  </div>
</div>